@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.head {
  /* background-color: #ECF0F1; */
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  box-shadow: 10px 9px 20px rgba(0, 0, 0, 0.5);
}

form .form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none !important;
}

.input-1 {
  background-image: url("/src/components/img/user.png");
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 1%;
  background-size: 35px;
  padding-left: 10%;
}

.input-2 {
  background-image: url("/src/components/img/key.png");
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-size: 25px;
  padding-left: 10%;
}

.input-1:focus {
  background-image: url("/src/components/img/user.png");
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 1%;
  background-size: 35px;
  padding-left: 11%;
}

.input-2:focus {
  background-image: url("/src/components/img/key.png");
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-size: 25px;
  padding-left: 11%;
}

/* Home Page */

.home-head {
  height: 50vh;
  width: auto;
  background-color: #000000 !important;
  /* background-image: url("https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.Job-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1%;
  overflow: hidden !important;
}

.search-bars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 8vh !important;
  width: 38vw !important;
  border-radius: 30px;
  background-image: url("/src/components/img/search.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-size: 35px;
  padding-left: 20px;
}

.search-bar:focus {
  border-color: #555454;
  border-radius: 25px;
  outline: none;
  height: 8vh !important;
  width: 38vw !important;
}

.search-bar:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-logout {
  background-color: #ECF0F1;
  display: flex !important;
  justify-content: right;
}

.job-card {
  position: relative;
}

.job-img {
  position: absolute;
  top: 10%;
  left: 67%;
  height: 40%;
  width: 30%;
  border-radius: 10px;
  z-index: 300;
}

.Job-list {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 575.98px) {
  .home-head {
    height: 50vh;
    width: auto;
    background-image: url("https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .nav-link {
    padding-left: 0%;
  }
  .job-img {
    position: absolute;
    top: 15%;
    left: 67%;
    height: 31%;
    width: 31%;
    border-radius: 10px;
    z-index: 300;
  }
  .search-bar{
    margin-top: 10%;
  }
  .input-1 {
    background-image: url("/src/components/img/user.png");
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 1%;
    background-size: 35px;
    padding-left: 16%;
  }
  
  .input-2 {
    background-image: url("/src/components/img/key.png");
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-size: 25px;
    padding-left: 16%;
  }
  .input-1:focus {
    background-image: url("/src/components/img/user.png");
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 1%;
    background-size: 30px;
    padding-left: 16%;
  }
  
  .input-2:focus {
    background-image: url("/src/components/img/key.png");
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-size: 24px;
    padding-left: 16%;
  }
}

.post-job input {
  margin: 3px;
}

.dark-mode {
  background-color: #222 !important;
  /* Dark mode background color */
  color: #fff;
  /* Dark mode text color */
  /* Add more dark mode styles */
}

.light-mode {
  background-color: #fff;
  /* Light mode background color */
  color: #333;
  /* Light mode text color */
  /* Add more light mode styles */
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.liveAlertPlaceholder {
  transition: 2000ms ease-in-out;
}

.candidate-page-head {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.employee-page{
  height: 100vh;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
/* .job-card>h3,p,h1{
  font-family: 'Poppins', sans-serif;
} */
.job-Responsibilities li{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
}
.job-title{
  font-family: 'Poppins', sans-serif;
}
.job-para{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}
.candidate-page-head{
  height: 100vh;
}